/* #region common# */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root
{
    --sp-dark: #000000;
    --sp-primary: #141922;
    --sp-secondary: #282828;
    --sp-accent: #ADFF2F;
    --sp-grey: #7B7D82;
    --sp-white: #FFFFFF;
}

body
{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--sp-primary);
    color: var(--sp-white);
}

.container
{
    width: 90%;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

h3
{
    font-size: 12px;
}

/* #endregion common# */

/* #region utility# */
.d_flex
{
    display: flex;
}
.fd_column
{
    flex-direction: column;
}
.align_items_center
{
    align-items: center;
}
.justify_content_between
{
    justify-content: space-between;
}




.text_uppercase
{
    text-transform: uppercase;
}


.pr_2
{

    padding-right: 1rem;
}

.mb_1
{
    margin-bottom: 0.5rem;
}




/* #endregion utility# */


/* #region main# */
.wrapper
{
    height: 100vh;
}

#site_header
{
    background-color: var(--sp-dark);
    width: 10vh;
    height: 90vh;
    padding: 0.75rem;
    line-height: 1.5rem;
    font-size: 12px;
    align-self: self-end;

    & .logo
    {
        margin-bottom: 0.5rem;
    }
    & .menu
    {
        margin-bottom: 0.5rem;
        & a
            {
                color: var(--sp-grey);
            } 
    }
    & .playlist, .user
    {
        & a
        {
            color: var(--sp-grey);
        }
    }
    & .user
    {
        & .download_image
        {
            width: 15px;
            margin-right: 0.5rem;
        }

    }

}    

.dekstop
{
    display: none;  
  
}

/* #endregion main# */

/* #region footer# */
#site_footer
{
    background-color: var(--sp-secondary);
    height: 10vh;
}

/* #endregion footer# */

/* #region responsive# */

@media screen and (max-width: 480px)
{
    .align_items_xs_center
    {
        align-items: center;
    } 
}

@media screen and (min-width: 480px)
{
    #site_header
    {
        width: 30vh;
    }
    .dekstop
    {
        display: block;
    }
    .mobile
    {
        display: none;
    }
}
/* #endregion responsive# */

